/* Определяем шрифт Cinzel для использования на веб-странице */
@font-face {
  font-family: "Cinzel";
  src: url("../fonts/Cinzel-VariableFont_wght.ttf"); /* Указываем путь к файлу шрифта */
}

/* Применяем шрифт Cinzel ко всем элементам HTML и используем sans-serif в качестве альтернативы */
html {
  font-family: "Cinzel", sans-serif;
}

/* Настраиваем фон для всего документа */
body {
  background: linear-gradient(
    #0e0e0e,
    #2d3435
  ); /* Градиентный фон от черного к темно-серому */
  background-attachment: fixed; /* Фиксируем фон при прокрутке страницы */
}

/* Стили для верхней части страницы (шапка) */
.header {
  padding: 2%; /* Отступы внутри шапки */
  display: flex; /* Устанавливаем блочный контейнер для элементов */
  justify-content: space-between; /* Распределяем элементы по краям контейнера */
  align-items: center; /* Выравниваем элементы по вертикали */
}

/* Стили для меню в шапке */
.header__menu {
  display: flex; /* Располагаем пункты меню в ряд */
  align-self: start; /* Выравниваем меню по верхнему краю шапки */
}

/* Стили для ссылок в меню */
.header__menu a {
  margin-right: 50px; /* Добавляем отступ между ссылками меню */
  display: inline-block; /* Размещаем пункты меню в ряд */
  color: #f2f2f2; /* Цвет текста для читаемости на фоне */
  text-decoration: none; /* Убираем подчеркивание ссылок */
  white-space: nowrap; /* Предотвращаем перенос текста на новую строку */
}

/* Стили при наведении на ссылки в меню */
.header__menu a:hover {
  color: #69020b; /* Изменяем цвет текста при наведении */
}
