/* Определяем шрифт Cinzel для использования на веб-странице */
@font-face {
  font-family: "Cinzel";
  src: url("../fonts/Cinzel-VariableFont_wght.ttf"); /* Указываем путь к файлу шрифта */
}

/* Применяем шрифт Cinzel ко всем элементам HTML и используем sans-serif в качестве альтернативы */
html {
  font-family: "Cinzel", sans-serif;
}

/* Настраиваем фон для всего документа */
body {
  background: linear-gradient(
    #0e0e0e,
    #2d3435
  ); /* Градиентный фон от черного к темно-серому */
  background-attachment: fixed; /* Фиксируем фон при прокрутке страницы */
}

/* Стили для верхней части страницы (шапка) */
.header {
  padding: 2%; /* Отступы внутри шапки */
  display: flex; /* Устанавливаем блочный контейнер для элементов */
  justify-content: space-between; /* Распределяем элементы по краям контейнера */
  align-items: center; /* Выравниваем элементы по вертикали */
}

/* Стили для меню в шапке */
.header__menu {
  display: flex; /* Располагаем пункты меню в ряд */
  align-self: start; /* Выравниваем меню по верхнему краю шапки */
}

/* Стили для ссылок в меню */
.header__menu a {
  margin-right: 50px; /* Добавляем отступ между ссылками меню */
  display: inline-block; /* Размещаем пункты меню в ряд */
  color: #f2f2f2; /* Цвет текста для читаемости на фоне */
  text-decoration: none; /* Убираем подчеркивание ссылок */
  white-space: nowrap; /* Предотвращаем перенос текста на новую строку */
}

/* Стили при наведении на ссылки в меню */
.header__menu a:hover {
  color: #69020b; /* Изменяем цвет текста при наведении */
}

/* Стили для основной части страницы */
.main {
  display: flex; /* Устанавливаем блочный контейнер для основной части */
}

/* Стили для текстового контента в основной части */
.main__text {
  color: #f2f2f2; /* Цвет текста для контраста с фоном */
  margin: 5%; /* Отступы вокруг текста */
  width: 30%; /* Ширина блока с текстом */
  line-height: 28px; /* Межстрочный интервал */
}

/* Стили для заголовка в основной части */
.main__text > h1 {
  color: #f2f2f2; /* Цвет заголовка */
  font-size: 24px; /* Размер шрифта заголовка */
  padding-bottom: 5%; /* Отступ снизу заголовка */
}

/* Стили для абзацев текста в основной части */
.main__text > p {
  text-indent: 5%; /* Отступ первой строки абзаца */
  text-align: justify; /* Выравнивание текста по ширине */
}

/* Стили для ссылок в тексте основной части */
.main__text a {
  color: #f2f2f2; /* Цвет ссылок */
  text-decoration: none; /* Убираем подчеркивание ссылок */
}

/* Стили при наведении на ссылки в тексте основной части */
.main__text a:hover {
  color: #69020b; /* Изменяем цвет текста ссылки при наведении */
}

/* 




Стили для страницы авторизации



*/
/* Стили для блока входа (формы авторизации) */
.singin {
  display: flex; /* Устанавливаем блочный контейнер для элементов */
}

/* Стили для основного блока формы авторизации */
.singin__block {
  width: 30%; /* Ширина блока формы */
  justify-content: space-around; /* Распределение элементов по горизонтали */
  margin-top: 5%; /* Отступ сверху блока формы */
}

/* Стили для заголовка блока формы */
.singin__block--header {
  display: flex; /* Располагаем элементы в ряд */
  align-items: center; /* Выравниваем по вертикали */
}

/* Стили для заголовка h1 в блоке формы */
.singin__block h1 {
  color: #f2f2f2; /* Цвет заголовка */
  font-size: 24px; /* Размер шрифта заголовка */
  padding-bottom: 5%; /* Отступ снизу заголовка */
  margin-right: auto; /* Выравниваем заголовок по правому краю */
}

/* Стили для группы формы */
.form-group {
  margin-bottom: 15px; /* Отступ между группами формы */
}

/* Стили для метки в форме */
.singin__block label {
  color: #f2f2f2; /* Цвет текста метки */
}

/* Стили для текстовых полей в форме */
.singin__block input[type="text"],
.singin__block input[type="password"] {
  width: 100%; /* Ширина текстовых полей */
  padding: 8px; /* Внутренние отступы */
  border: 1px solid #4f5859; /* Граница текстовых полей */
  background-color: transparent; /* Прозрачный фон */
  color: #f2f2f2; /* Цвет текста */
}

/* Стили для кнопки и ссылки в блоке формы */
.singin__block button,
.singin__block a {
  font-family: "Cinzel"; /* Устанавливаем шрифт */
  font-size: 16px; /* Размер шрифта */
  padding: 10px 20px; /* Внутренние отступы кнопки/ссылки */
  border: none; /* Убираем границу */
  cursor: pointer; /* Изменяем курсор при наведении */
  text-decoration: none; /* Убираем подчеркивание текста */
  color: #f2f2f2; /* Цвет текста */
  background-color: #4f5859; /* Цвет фона кнопки/ссылки */
  transition: background-color 0.3s ease; /* Плавное изменение цвета фона при наведении */
}

/* Стили при наведении на кнопку или ссылку в блоке формы */
.singin__block button:hover,
.singin__block a:hover {
  background-color: #69020b; /* Изменяем цвет фона при наведении */
}

/* 


Стили для восстановления пароля 




*/
/* Стили для блока восстановления пароля */
.restor__block {
  width: 30%; /* Ширина блока */
  margin-top: 5%; /* Отступ сверху блока */
  color: #f2f2f2; /* Цвет текста */
}

/* Стили для заголовка в блоке восстановления пароля */
.restor__block h1 {
  color: #f2f2f2; /* Цвет заголовка */
  font-size: 24px; /* Размер шрифта заголовка */
  padding-bottom: 10px; /* Отступ снизу заголовка */
}

/* Стили для поля ввода email в блоке восстановления пароля */
.restor__block input[type="email"] {
  width: 100%; /* Ширина поля ввода */
  padding: 8px; /* Внутренние отступы */
  border: 1px solid #4f5859; /* Граница поля ввода */
  background-color: transparent; /* Прозрачный фон */
  color: #f2f2f2; /* Цвет текста */
}

/* Стили для кнопки в блоке восстановления пароля */
.restor__block button {
  padding: 10px 20px; /* Внутренние отступы кнопки */
  border: none; /* Убираем границу кнопки */
  cursor: pointer; /* Изменяем курсор при наведении */
  color: #f2f2f2; /* Цвет текста кнопки */
  background-color: #4f5859; /* Цвет фона кнопки */
  transition: background-color 0.3s ease; /* Плавная анимация при наведении */
}

/* Стили при наведении на кнопку в блоке восстановления пароля */
.restor__block button:hover {
  background-color: #590209; /* Изменяем цвет фона при наведении */
}
