/* Определяем шрифт Cinzel для использования на веб-странице */
@font-face {
  font-family: "Cinzel";
  src: url("../fonts/Cinzel-VariableFont_wght.ttf"); /* Указываем путь к файлу шрифта */
}

/* Применяем шрифт Cinzel ко всем элементам HTML и используем sans-serif в качестве альтернативы */
html {
  font-family: "Cinzel", sans-serif;
}

/* Настраиваем фон для всего документа */
body {
  background: linear-gradient(
    #0e0e0e,
    #2d3435
  ); /* Градиентный фон от черного к темно-серому */
  background-attachment: fixed; /* Фиксируем фон при прокрутке страницы */
}

/* Стили для верхней части страницы (шапка) */
.header {
  padding: 2%; /* Отступы внутри шапки */
  display: flex; /* Устанавливаем блочный контейнер для элементов */
  justify-content: space-between; /* Распределяем элементы по краям контейнера */
  align-items: center; /* Выравниваем элементы по вертикали */
}

/* Стили для меню в шапке */
.header__menu {
  display: flex; /* Располагаем пункты меню в ряд */
  align-self: start; /* Выравниваем меню по верхнему краю шапки */
}

/* Стили для ссылок в меню */
.header__menu a {
  margin-right: 50px; /* Добавляем отступ между ссылками меню */
  display: inline-block; /* Размещаем пункты меню в ряд */
  color: #f2f2f2; /* Цвет текста для читаемости на фоне */
  text-decoration: none; /* Убираем подчеркивание ссылок */
  white-space: nowrap; /* Предотвращаем перенос текста на новую строку */
}

/* Стили при наведении на ссылки в меню */
.header__menu a:hover {
  color: #69020b; /* Изменяем цвет текста при наведении */
}

/* Стили для основной части страницы */
.main {
  display: flex; /* Устанавливаем блочный контейнер для основной части */
}

/* Стили для текстового контента в основной части */
.main__text {
  color: #f2f2f2; /* Цвет текста для контраста с фоном */
  margin: 5%; /* Отступы вокруг текста */
  width: 30%; /* Ширина блока с текстом */
  line-height: 28px; /* Межстрочный интервал */
}

/* Стили для заголовка в основной части */
.main__text > h1 {
  color: #f2f2f2; /* Цвет заголовка */
  font-size: 24px; /* Размер шрифта заголовка */
  padding-bottom: 5%; /* Отступ снизу заголовка */
}

/* Стили для абзацев текста в основной части */
.main__text > p {
  text-indent: 5%; /* Отступ первой строки абзаца */
  text-align: justify; /* Выравнивание текста по ширине */
}

/* Стили для ссылок в тексте основной части */
.main__text a {
  color: #f2f2f2; /* Цвет ссылок */
  text-decoration: none; /* Убираем подчеркивание ссылок */
}

/* Стили при наведении на ссылки в тексте основной части */
.main__text a:hover {
  color: #69020b; /* Изменяем цвет текста ссылки при наведении */
}

/* 




Стили для страницы авторизации



*/
/* Стили для блока входа (формы авторизации) */
.singin {
  display: flex; /* Устанавливаем блочный контейнер для элементов */
}

/* Стили для основного блока формы авторизации */
.singin__block {
  width: 30%; /* Ширина блока формы */
  justify-content: space-around; /* Распределение элементов по горизонтали */
  margin-top: 5%; /* Отступ сверху блока формы */
}

/* Стили для заголовка блока формы */
.singin__block--header {
  display: flex; /* Располагаем элементы в ряд */
  align-items: center; /* Выравниваем по вертикали */
}

/* Стили для заголовка h1 в блоке формы */
.singin__block h1 {
  color: #f2f2f2; /* Цвет заголовка */
  font-size: 24px; /* Размер шрифта заголовка */
  padding-bottom: 5%; /* Отступ снизу заголовка */
  margin-right: auto; /* Выравниваем заголовок по правому краю */
}

/* Стили для группы формы */
.form-group {
  margin-bottom: 15px; /* Отступ между группами формы */
}

/* Стили для метки в форме */
.singin__block label {
  color: #f2f2f2; /* Цвет текста метки */
}

/* Стили для текстовых полей в форме */
.singin__block input[type="text"],
.singin__block input[type="password"] {
  width: 100%; /* Ширина текстовых полей */
  padding: 8px; /* Внутренние отступы */
  border: 1px solid #4f5859; /* Граница текстовых полей */
  background-color: transparent; /* Прозрачный фон */
  color: #f2f2f2; /* Цвет текста */
}

/* Стили для кнопки и ссылки в блоке формы */
.singin__block button,
.singin__block a {
  font-family: "Cinzel"; /* Устанавливаем шрифт */
  font-size: 16px; /* Размер шрифта */
  padding: 10px 20px; /* Внутренние отступы кнопки/ссылки */
  border: none; /* Убираем границу */
  cursor: pointer; /* Изменяем курсор при наведении */
  text-decoration: none; /* Убираем подчеркивание текста */
  color: #f2f2f2; /* Цвет текста */
  background-color: #4f5859; /* Цвет фона кнопки/ссылки */
  transition: background-color 0.3s ease; /* Плавное изменение цвета фона при наведении */
}

/* Стили при наведении на кнопку или ссылку в блоке формы */
.singin__block button:hover,
.singin__block a:hover {
  background-color: #69020b; /* Изменяем цвет фона при наведении */
}

/* 


Стили для восстановления пароля 




*/
/* Стили для блока восстановления пароля */
.restor__block {
  width: 30%; /* Ширина блока */
  margin-top: 5%; /* Отступ сверху блока */
  color: #f2f2f2; /* Цвет текста */
}

/* Стили для заголовка в блоке восстановления пароля */
.restor__block h1 {
  color: #f2f2f2; /* Цвет заголовка */
  font-size: 24px; /* Размер шрифта заголовка */
  padding-bottom: 10px; /* Отступ снизу заголовка */
}

/* Стили для поля ввода email в блоке восстановления пароля */
.restor__block input[type="email"] {
  width: 100%; /* Ширина поля ввода */
  padding: 8px; /* Внутренние отступы */
  border: 1px solid #4f5859; /* Граница поля ввода */
  background-color: transparent; /* Прозрачный фон */
  color: #f2f2f2; /* Цвет текста */
}

/* Стили для кнопки в блоке восстановления пароля */
.restor__block button {
  padding: 10px 20px; /* Внутренние отступы кнопки */
  border: none; /* Убираем границу кнопки */
  cursor: pointer; /* Изменяем курсор при наведении */
  color: #f2f2f2; /* Цвет текста кнопки */
  background-color: #4f5859; /* Цвет фона кнопки */
  transition: background-color 0.3s ease; /* Плавная анимация при наведении */
}

/* Стили при наведении на кнопку в блоке восстановления пароля */
.restor__block button:hover {
  background-color: #590209; /* Изменяем цвет фона при наведении */
}

/* 




Стили для формы регистрации 





*/
/* Стили для блока регистрации */
.registration__block {
  width: 30%; /* Ширина блока регистрации */
  margin-top: 5%; /* Отступ сверху блока */
  color: #f2f2f2; /* Цвет текста в блоке */
}

/* Стили для заголовка блока регистрации */
.registration__block h1 {
  color: #f2f2f2; /* Цвет заголовка */
  font-size: 24px; /* Размер шрифта заголовка */
  padding-bottom: 10px; /* Отступ снизу заголовка */
}

/* Стили для полей ввода в блоке регистрации */
.registration__block input[type="text"],
.registration__block input[type="email"],
.registration__block input[type="tel"],
.registration__block input[type="password"],
.registration__block input[type="date"] {
  width: 100%; /* Ширина полей ввода */
  padding: 8px; /* Внутренние отступы */
  border: 1px solid #4f5859; /* Граница поля ввода */
  background-color: transparent; /* Прозрачный фон */
  color: #f2f2f2; /* Цвет текста */
  border-radius: 5px; /* Закругление углов */
  box-sizing: border-box; /* Учитываем рамку внутри размеров элемента */
  outline: none; /* Убираем контур фокуса */
}

/* Стили для кнопки в блоке регистрации */
.registration__block button {
  font-family: "Cinzel"; /* Шрифт кнопки */
  font-size: 16px; /* Размер шрифта кнопки */
  padding: 10px 20px; /* Внутренние отступы кнопки */
  border: none; /* Убираем границу кнопки */
  cursor: pointer; /* Изменяем курсор при наведении */
  color: #f2f2f2; /* Цвет текста кнопки */
  background-color: #4f5859; /* Цвет фона кнопки */
  transition: background-color 0.3s ease; /* Плавная анимация при наведении */
}

/* Стили при наведении на кнопку в блоке регистрации */
.registration__block button:hover {
  background-color: #590209; /* Изменяем цвет фона при наведении */
}

/* Стили для фокуса на поле ввода типа date в блоке регистрации */
.registration__block input[type="date"]:focus {
  border-color: #590209; /* Цвет рамки при фокусе */
}

/* 



Стили для главного контента 




*/
/* Стили для контейнера каталога автомобилей */
.catalog__conteiner {
  display: flex; /* Устанавливаем блочный контейнер для элементов */
  justify-content: space-between; /* Распределяем элементы по горизонтали с равным пространством между ними */
  margin-top: 20px; /* Отступ сверху контейнера */
}

/* Стили для блока доступных автомобилей */
.available__cars {
  width: 80%; /* Ширина блока */
  display: flex; /* Устанавливаем блочный контейнер для элементов */
  flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
  justify-content: space-around; /* Распределяем элементы по горизонтали с равным пространством между ними */
  margin-top: 20px; /* Отступ сверху блока */
}

/* Стили для каждого автомобиля в блоке */
.car {
  display: flex; /* Устанавливаем блочный контейнер для элементов */
  flex-direction: column; /* Устанавливаем вертикальное направление элементов */
  justify-content: space-between; /* Распределяем элементы по вертикали с равным пространством между ними */

  color: #f2f2f2; /* Цвет текста */
  width: 45%; /* Ширина блока с автомобилем */
  margin-bottom: 20px; /* Отступ снизу блока */
  border: 1px solid #ccc; /* Граница блока */
  border-radius: 20px; /* Закругление углов блока */
  overflow: hidden; /* Скрываем контент, выходящий за границы блока */
}

/* Стили для изображения автомобиля */
.car img {
  width: 100%; /* Ширина изображения на 100% блока */
  height: auto; /* Автоматическое вычисление высоты для сохранения пропорций */
}

/* Стили для информации о автомобиле */
.car-info {
  padding: 10px; /* Внутренние отступы */
}

.car-info h3 {
  margin-top: 0; /* Убираем верхний отступ у заголовка */
  margin-bottom: 10px; /* Отступ снизу заголовка */
  font-size: 18px; /* Размер шрифта заголовка */
}

.car-info ul {
  list-style-type: none; /* Убираем маркеры у списка */
  padding: 0; /* Убираем внутренние отступы у списка */
  margin: 0; /* Убираем внешние отступы у списка */
}

.car-info li {
  margin-bottom: 5px; /* Отступ снизу каждого пункта списка */
}

/* Дополнительные стили, если нужно */
.car-info ul {
  font-size: 14px; /* Размер шрифта списка */
}

.car-info li::before {
  content: "•"; /* Добавляем маркеры в виде точек */
  margin-right: 5px; /* Отступ справа от маркера */
}

/* 


Menu filter 



*/
/* Стили для меню фильтров */
.filter__options {
  padding-right: 2%; /* Правый внутренний отступ */
  color: #f2f2f2; /* Цвет текста */
  font-size: 24px; /* Размер шрифта */
}

.filter__options h2 {
  font-size: 28px; /* Размер шрифта заголовка */
  margin-bottom: 20px; /* Отступ снизу заголовка */
}

/* Стили для группы формы в меню фильтров */
.form-group {
  margin-bottom: 20px; /* Отступ снизу группы формы */
}

/* Стили для меток в группе формы */
.filter__options .form-group label {
  display: block; /* Отображаем метку как блочный элемент */
  margin-bottom: 5px; /* Отступ снизу метки */
}

/* Стили для выбора опций, числовых полей и кнопок в группе формы */
.filter__options .form-group select,
.filter__options .form-group input[type="number"],
.filter__options .form-group button {
  width: 100%; /* Ширина элементов в группе формы */
  padding: 10px; /* Внутренние отступы */
  border: 1px solid #4f5859; /* Граница элементов */
  border-radius: 5px; /* Закругление углов */
  background-color: transparent; /* Прозрачный фон */
  color: #f2f2f2; /* Цвет текста */
  font-size: 16px; /* Размер шрифта */
  margin-top: 5px; /* Отступ сверху */
}

/* Стили для множественного выбора опций в группе формы */
.filter__options .form-group select[multiple] {
  height: 120px; /* Высота для множественного выбора опций */
}

/* Стили для кнопок отправки и сброса в группе формы */
.filter__options .form-group button[type="submit"],
.filter__options .form-group button[type="reset"] {
  cursor: pointer; /* Изменяем курсор при наведении */
  background-color: #4f5859; /* Цвет фона кнопки */
  color: #f2f2f2; /* Цвет текста кнопки */
  border: none; /* Убираем границу кнопки */
  padding: 10px 20px; /* Внутренние отступы */
  border-radius: 5px; /* Закругление углов */
  margin-top: 20px; /* Отступ сверху */
  transition: background-color 0.3s ease; /* Плавная анимация при наведении */
}

/* Стили при наведении на кнопки отправки и сброса */
.filter__options .form-group button[type="submit"]:hover,
.filter__options .form-group button[type="reset"]:hover {
  background-color: #590209; /* Изменяем цвет фона при наведении */
}

/* Стили для фона ниспадающих списков в группе формы */
.filter__options .form-group select {
  background-color: #4f5859; /* Цвет фона списка */
}
